# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


#
wiki-assets/pages/
wiki-assets/src/
wiki-assets/_pagefind/
wiki-assets/official.css
wiki-assets/output.txt
wiki-assets/vector1.css
wiki-assets/testsearch.html

wiki-assets.zip