
#heading-title {
  height: 40px;
  position: relative;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  top: 10px;
  white-space: nowrap;
  /*强制span不换行*/
  overflow: hidden;
  /*超出宽度部分隐藏*/
  text-overflow: ellipsis;
}

@media screen and (max-width: 580px) {
  #heading-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  #heading-title {
    font-size: 17px;
  }
}

@media screen and (max-width: 420px) {
  #heading-title {
    font-size: 15px;
  }
}

/* 
声音图标 */
.mw-parser-output .sound audio:not([controls]) {
  /* 彻底隐藏 audio 元素，因为它只是一个声音源，不应占据页面空间 */
  display: none;
}

.mw-parser-output .sound {
  cursor: pointer;
}




/* 表格滚动 */
.table-box {
  overflow-x: auto;
}

.handy-scroll {
  bottom: 0;
  min-height: 17px;
  overflow: auto;
  position: fixed
}

.handy-scroll div {
  height: 1px;
  overflow: hidden;
  pointer-events: none
}

.handy-scroll div::before {
  content: "\A0"
}

.handy-scroll,
.handy-scroll div {
  font-size: 1px;
  line-height: 0;
  margin: 0;
  padding: 0
}

.handy-scroll-hidden {
  bottom: 9999px
}

.handy-scroll-hidden div::before {
  content: "\A0\A0"
}

.handy-scroll-viewport {
  position: relative
}

.handy-scroll-body {
  overflow: auto
}

.handy-scroll-viewport .handy-scroll {
  left: 0;
  position: absolute
}

.handy-scroll-hoverable .handy-scroll {
  opacity: 0;
  transition: opacity .5s .3s
}

.handy-scroll-hoverable:hover .handy-scroll {
  opacity: 1
}


