html.dark .huiji-css-hook {
    background-color: #424242;

}

html.dark .huiji-css-hook .wiki-body {
    background-color: #1E1F21 !important;
    color: #fff;
}

html.dark table.mainbody {
    background-color: #1E1F21;
    color: #fff;
}

html.dark div.mainbody {
    background: #1E1F21;
    color: #fff;
    border: 1px solid #6d6d6d;
}

html.dark .huiji-css-hook .bottom.footer {
    background: #1E1F21;
}


html.dark th.mainhead,
html.dark div.mainhead {
    background-color: #1B1C1E;
    color: #ffffff;
    border: none;
}


html.dark .tabber-filter-item.active {
    background-color: #444444 !important;
    color: #fff !important;
    border: none;
}

html.dark .tabber-filter-item {
    background-color: #1E1F21 !important;
    color: #fff !important;
    border: none;
}

html.dark .tabber-filter-item a {
    color: #fff !important;
}


html.dark table.calamityinfo {
    background-color: #1E1F21;
    color: #fff;
}


html.dark .calamityinfo th {
    background-color: #1B1C1E;
}


html.dark a {
    color: #9cfffd;
}

html.dark .huiji-css-hook .toc-sidebar li.active>a {
    color: #9cfffd;
}

html.dark .huiji-css-hook .toc-sidebar li>a:hover {
    color: #9cfffd;
}

html.dark .infobox_body {
    background-color: #1E1F21 !important;
    color: #fff !important;
    border: 1px solid #6d6d6d;
}

html.dark .infobox_head {
    background-color: #1B1C1E !important;
    color: #fff !important;
    border: none;
}

html.dark .calamitas th {
    background-color: #1B1C1E !important;
}

html.dark table.calamitas {
    border: 1px solid #6d6d6d;
    background: #1E1F21;
}

html.dark .sound-play-icon {
    color: #1B1C1E;
}

html.dark .calamity th {
    background: #1B1C1E;
    color: #7ccbff;
}

html.dark table.calamitas th {
    color: #7ccbff;
}

html.dark table.calamity {
    border: 1px solid #6d6d6d;
    background: #1E1F21;
}

html.dark .calamityajax th {
    background: #1B1C1E;
    color: #fff;
}

html.dark table.calamityajax {
    background: #1e1f21;
    color: #fff;
    border: none;
}

html.dark .guideblock {
    background: #1e1f21;
    border:1px solid #6d6d6d;
}

html.dark .guidetitle{
    background: #1B1C1E;
    color: #fff;
    border: none;
}
html.dark .huiji-css-hook .bottom.footer{
    color: #fff;
}