html.light .huiji-css-hook {
    background-color: #dbdbdb;

}

html.light .huiji-css-hook .wiki-body {
    background-color: #F6F6F6!important;
}

html.light table.mainbody {
    background-color: #F6F6F6;
    color: #000;
}

html.light div.mainbody{
    background: #F6F6F6;
    color: #000;
    border: 1px solid #6d6d6d;
}

html.light .huiji-css-hook .bottom.footer{
    background: #F6F6F6;
}


html.light th.mainhead,html.light div.mainhead {
    background-color: #dfdfdf;
    color: #000;
    border: none;
}


html.light .tabber-filter-item.active {
    background-color: #939393!important;
    color: #000;
    border: none;
}
html.light .tabber-filter-item {
    background-color: #dfdfdf!important;
    color: #000;
    border: none;
}



html.light table.calamityinfo{
    background-color: #F6F6F6;
    color: #000;
}


html.light .calamityinfo th {
    background-color: #dfdfdf;
}


html.light a{
    color: #2d4068;
}

html.light .huiji-css-hook .toc-sidebar li.active>a{
    color: #2d4068;
}

html.light .huiji-css-hook .toc-sidebar li>a:hover{
    color: #2d4068;
}

html.light .infobox_body{
    background-color: #F6F6F6!important;
    color: #000!important;
    border: 1px solid #6d6d6d;
}

html.light .infobox_head{
    background-color: #dfdfdf!important;
    color: #000!important;
    border: none;
}

html.light .calamitas th{
    background-color: #dfdfdf!important;
}
html.light table.calamitas{
    border: 1px solid #6d6d6d;
    background: #F6F6F6;
}

html.light .sound-play-icon{
    color:#dfdfdf;
}

html.light .calamity th{
    background: #dfdfdf;
}

html.light table.calamity{
    border: 1px solid #6d6d6d;
    background: #F6F6F6;
}

html.light .calamityajax th{
    background: #dfdfdf;
    color:#000;
}

html.light table.calamityajax{
    background: #F6F6F6;
    color:#000;
    border:none;
}

html.light .guideblock {
    background: #f6f6f6;
    border:1px solid #6d6d6d;
}

html.light .guidetitle{
    background: #dfdfdf;
    color: #000;
    border: none;
}