@page "/favorites"
@using Terraria_Wiki.Components.Icons
@using Terraria_Wiki.Services
@using Terraria_Wiki.Models

<div class="page-anim page-content">

	<header class="page-header">
		<span class="page-title">收藏内容</span>
		<span class="sub-text">@favoriteCount 个已收藏词条</span>
	</header>
	<div class="list-container">
		@if (favoriteCount == 0)
		{
			<div class="empty-state">
				<p>还没有收藏任何内容</p>
			</div>
		}
		else
		{

			<Virtualize @ref="_virtualizeComponent" ItemsProvider="@LoadPages" Context="item" OverscanCount="5">
				<div class="wiki-card button" @onclick="() => AppService.OpenPageAsync(item.WikiTitle)">
					<div class="card-icon">
						<Icon Name="star-filled" Size="24" />
					</div>
					<div class="card-content">
						<div class="card-title">@item.WikiTitle</div>
						<div class="card-meta">收藏于 @item.FavoritedAt.ToString("yyyy/MM/dd")</div>
					</div>
					<button class="remove-btn" @onclick:stopPropagation="true" @onclick="() => RemoveAsync(item.WikiTitle)">
						取消
					</button>
				</div>
			</Virtualize>

		}

	</div>

</div>

@code {
	private Virtualize<WikiFavorite> _virtualizeComponent;
	private int favoriteCount = 0;
	protected override async Task OnInitializedAsync()
	{
		// 调用服务获取数量
		favoriteCount = await App.ContentDb.GetCountAsync<WikiFavorite>();

	}

	private async ValueTask<ItemsProviderResult<WikiFavorite>> LoadPages(ItemsProviderRequest request)
	{
		// 1. 获取总数 (用于计算滚动条长度)
		var totalCount = await App.ContentDb.GetCountAsync<WikiFavorite>();

		var items = await App.ContentDb.GetWikiFavoritePagedAsync(request.StartIndex, request.Count);

		return new ItemsProviderResult<WikiFavorite>(items, totalCount);
	}


	private async Task RemoveAsync(string title)
	{
		await App.ContentDb.DeleteItemAsync<WikiFavorite>(title);
		if (_virtualizeComponent != null)
		{
			await _virtualizeComponent.RefreshDataAsync();
			favoriteCount = await App.ContentDb.GetCountAsync<WikiFavorite>();
		}
	}


}

<style>

	.wiki-card {
		height: 64px; /* 强制匹配 ItemSize */
		display: flex;
		align-items: center;
		padding: 4px 12px;
		border-radius: 12px;
		cursor: pointer;
	}


	.card-icon {
		margin-right: 16px;
		color: var(--blue-primary);
		display: flex;
		align-items: center;
	}

	.card-content {
		flex: 1;
		min-width: 0;
	}

	.card-title {
		font-weight: 500;
		font-size: 1rem;
		color: var(--text-primary);
		margin-bottom: 2px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.card-meta {
		font-size: 0.8rem;
		color: var(--text-secondary);
	}

	.remove-btn {
		background: transparent;
		border: 1px solid var(--text-secondary);
		color: var(--text-secondary);
		padding: 4px 12px;
		border-radius: 99px;
		font-size: 0.8rem;
		cursor: pointer;
	}

		.remove-btn:hover {
			border-color: var(--red-primary);
			color: var(--red-primary);
			background-color: var(--red-tertiary);
		}
</style>