html.light {
    --wiki-body-background-color: #F6F6F6;
    --wiki-body-background-image: url(/images/main/Site-background-light.jpg);
    --wiki-content-background-color: #ffffff;
    --wiki-content-background-opacity: 100%;
    --wiki-content-border-color: #a7d7f9;
    --wiki-content-link-color: #0645ad;
    --wiki-accent-color: #3366cc;
    --wiki-accent-label-color: #ffffff;
    --wiki-accent-link-color: #D5FB51;
    --wiki-icon-to-link-filter: invert(20%) sepia(93%) saturate(2141%) hue-rotate(210deg) brightness(83%) contrast(103%);
    --wiki-body-background-position: top center;
    --wiki-body-background-size: cover;
    --wiki-body-background-repeat: no-repeat;
    --wiki-body-background-attachment: fixed;
    --wiki-content-background-color--secondary: color-mix(in srgb,var(--wiki-content-background-color) 96%,var(--wiki-content-dynamic-color));
    --wiki-content-text-color: #111111;
    --wiki-content-link-color--visited: var(--wiki-content-link-color);
    --wiki-content-link-color--hover: var(--wiki-content-link-color);
    --wiki-content-redlink-color: #DD001A;
    --wiki-content-diff-text-color: #FFFFFF;
    --wiki-content-heading-color: var(--wiki-content-text-color);
    --wiki-accent-color--hover: color-mix(in srgb,var(--wiki-accent-color) 95%,var(--wiki-accent-label-color));
    --wiki-sidebar-background-color: var(--wiki-content-background-color);
    --wiki-sidebar-background-opacity: var(--wiki-content-background-opacity);
    --wiki-sidebar-border-color: var(--wiki-content-border-color);
    --wiki-sidebar-link-color: var(--wiki-content-link-color);
    --wiki-sidebar-link-color--hover: var(--wiki-content-link-color--hover);
    --wiki-sidebar-heading-color: var(--wiki-content-heading-color);
    --wiki-navigation-background-color: var(--wiki-content-background-color--secondary);
    --wiki-navigation-background-color--secondary: var(--wiki-content-background-color);
    --wiki-navigation-border-color: var(--wiki-content-border-color);
    --wiki-navigation-text-color: var(--wiki-content-link-color);
    --wiki-navigation-text-color--hover: var(--wiki-content-link-color--hover);
    --wiki-navigation-selected-background-color: var(--wiki-content-background-color);
    --wiki-navigation-selected-border-color: var(--wiki-navigation-border-color);
    --wiki-navigation-selected-text-color: var(--wiki-content-text-color);
    --wiki-neutral-color: var(--wiki-content-text-mix-color);
    --wiki-alert-color: #DD001A;
    --wiki-warning-color: #b05f30;
    --wiki-success-color: #0D8134;
    --wiki-body-dynamic-color: #000000;
    --wiki-body-dynamic-color--inverted: #ffffff;
    --wiki-body-dynamic-color--secondary: #333333;
    --wiki-body-dynamic-color--secondary--inverted: #cccccc;
    --wiki-content-border-color--secondary: color-mix(in srgb,var(--wiki-content-border-color) 50%,transparent);
    --wiki-content-border-color--accent: color-mix(in srgb,var(--wiki-accent-color) 50%,transparent);
    --wiki-content-link-label-color: #ffffff;
    --wiki-content-dynamic-color: #000000;
    --wiki-content-dynamic-color--inverted: #ffffff;
    --wiki-content-dynamic-color--secondary: #333333;
    --wiki-content-dynamic-color--secondary--inverted: #cccccc;
    --wiki-alert-label-color: #ffffff;
    --wiki-warning-label-color: #ffffff;
    --wiki-success-label-color: #ffffff;
    --wiki-icon-general-filter: ;
    --theme-page-background-color--secondary: #c8c8c8;
    --theme-border-color: var(--wiki-content-border-color);
    --theme-page-background-color: var(--wiki-content-background-color);
    --theme-page-text-color: var(--wiki-content-text-color);
    --wiki-tooltip-background-color: white;
    --wiki-tooltip-box-shadow: rgba(0,0,0,0.15);
    --wiki-tooltip-border-color: #5d564e
}

html.light .hp>div .text-red {
    color: #d61616
}

html.light .hp>div .text-golden {
    color: #946114
}
