@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject NavigationManager NavManager
@using Terraria_Wiki.Components.Pages
@using Terraria_Wiki.Services

<div class="app-layout">

    <NavMenu />
    @if (AppState.LogPanelIsOpen)
    {
        <LogPanel/>
    }
    <main class="main-area">

        <TopBar />
        <div class="iframe-container page-anim"
             style="display: @(AppState.CurrentPage == "home" ? "block" : "none")">

            <iframe src="@src"
                    class="wiki-frame" id="wiki-frame">
            </iframe>
        </div>
        <div class="content-container" style="display: @(AppState.CurrentPage == "home" ? "none" : "block")">
            @Body
        </div>
    </main>
</div>

@code {

    string iframeTheme;
    string src;
    bool isMobile;

    //刷新机制
    protected override void OnInitialized()
    {

        AppState.OnChange += RefreshUI;
        AppState.OnShowAlert += HandleShowAlert;
        iframeTheme = ThemeService.GetIframeThemeState();
        isMobile = DeviceInfo.Platform == DevicePlatform.Android || DeviceInfo.Platform == DevicePlatform.iOS;
        src = $"http://127.0.0.1:55000?theme={iframeTheme}&isMobile={isMobile}";

    }

    public void Dispose()
    {
        AppState.OnChange -= RefreshUI;
        AppState.OnShowAlert -= HandleShowAlert;
    }

    private void RefreshUI()
    {

        InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            AppState.Init(JS);
            IframeBridge.Init(JS);
            AppService.Init(NavManager);
            await ThemeService.InitIframeThemeAsync(JS);
            if(DeviceInfo.Platform==DevicePlatform.Android || DeviceInfo.Platform == DevicePlatform.iOS)
            {
                await JS.InvokeVoidAsync("initHover", "False");
            }
            else
            {
                await JS.InvokeVoidAsync("initHover", "True");

            }
            _ = JS.InvokeVoidAsync("initGlobalScreenListener");

            if (Application.Current?.Windows[0].Page is MainPage mainPage)
            {
                mainPage.HideLoadingScreen();

            }

        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private void HandleShowAlert(string title, string message)
    {

        MainThread.BeginInvokeOnMainThread(async () =>
        {
            var mainPage = Application.Current?.Windows[0].Page;
            if (mainPage != null)
            {
                await mainPage.DisplayAlertAsync(title, message, "确定");
            }
        });
    }

}
